.shirt {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.shirtimages {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.shirtbox {
    width: 50%;  
}

.shirtpic {
    max-width: 80%;
    height: auto;
}