.shirt {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.shirttext {
    width: 50%;
}

.shirtimages {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.shirtbox {
    width: 50%;  
}

.shirtpic {
    max-width: 80%;
    height: auto;
}

#sizes {
    list-style-type: none;
}

@media screen and (max-width: 800px) {
    .shirtimages {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .shirt {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .shirtimages {
        width: 100%
    }

    .shirt {
        height: 90vh;
        width: 100%;
    }
}